<html>
    <head>
        <title>Forgot Password</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        
        {% block stylesheets %}
            <link href="{{ asset('CSS/Main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div class="login">
            <form>
                <input class="login-input" type="text" id="user_name" placeholder="username"/>
                <input class="login-input" type="email" id="email" placeholder="e-mail"/>
                <p id="password_requirements" style="">Password needs to be at least 8 characters long</p>
                <input class="login-input" type="password" id="password_one" autocomplete="new-password" placeholder="password"/>
                <input class="login-input" type="password" id="password_two" autocomplete="off" placeholder="repeat password"/>
                <input class="button" type="button" value="Login" onclick="login()"/>
            </form>
        </div>

        <script>
            function login(){
                let user_name = $("#user_name").val();
                let password = $("#password_one").val();
                let email = $("#email").val();

                password = password.trim();
                email = email.trim();
                var valid_password = pass_is_valid(password);
                var valid_email = mail_is_valid(email);

                
                var data = {
                    "name": user_name,
                    "password": password,
                    "email": email
                };
                data = JSON.stringify(data);

                console.log(data);
                if(valid_password && valid_email){
                    sendRequest(data);
                }

            }
            function sendRequest(data){
                let link = String("http://" + (window.location.href).split("/")[2]);
                ``
                var xhr = new XMLHttpRequest();
                xhr.open("POST", link + "/user");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(json);

                $.post(
                    link + "/user", 
                    data,
                    function(returnData){
                        if(returnData){
                            console.log(returnData);
                        }
                        // try{
                        //     localStorage.setItem("token", JSON.stringify(returnData));
                        //     window.location.href = link + "/villageView";
                        // }catch($e){}
                    }
                ).fail(
                    function(rdata){
                        if(returnData){
                            console.log(returnData);
                        }
                    }
                );
            }
            function pass_is_valid(password){                    
                if(password.length > 8){
                    if(password == $("#password_two").val()){
                        return true;
                    }
                } 
                $("#password_one").css("border-color", "red");
                $("#password_two").css("border-color", "red");
                $("#password_requirements").fadeIn("fast");
                return false;
            }

            function mail_is_valid(email){
                var at = email.split("@");
                if(at[0].length > 0 && at[1].length > 0){
                    var dot = at[1].split(".");
                    if(dot[0].length > 0 && dot[1].length > 0){
                        return true;
                    }
                }
                $("#password_one").css("border-color", "red");
                $("#password_two").css("border-color", "red");
                $("#password_requirements").fadeIn("fast");
                return false;
            }
        </script>
    </body>
</html>