<div id='resourceWrapper'>
    {% for resourceData in Stockpile %}
        <div class='collection'>
            <div class='icon' style='background-image: url({{resourceData['resource']}}-icon.png)'></div>
            <div class='amount'>{{resourceData['amount']}}</div>
        </div>
    {% endfor %}
</div>