{% extends "base.html.twig" %}

{% block title %}Village{% endblock %}
{% block stylesheets %}
<style>
    body{
        background-color: #f4faff;
    }
    form{
        display: grid;
    }
    .login{
        width: 20%;
        position: absolute;
        padding: 1em;
        padding-bottom: 0;
        box-shadow: 0 0 50px 0px #b8b8b84f;
        left: 40%;
        top: 40%;
        background-color: white;
        border-radius: 8px;
    }
</style>
{% endblock %}
{% block body %} 
    <form class="login">
        <div><label>type: </label><label id="type">{{city_type}}</label></div>
        <div><label>name: </label><label id="name">{{name}}</label></div>
        <div><label>coordinates: </label><label id="coordinates">{{coords}}</label></div>
    </form>
{% endblock %}  